@model IEnumerable<CurrencyConverter.Models.ConversionAudit.Conversion>

@{
    ViewData["Title"] = "Conversion Audit";
}

<div class="text-center">
    <h1 class="page-title">Conversion Audit</h1>
    <div class="row">
        <table class="audit-table col-12">
            <thead class="audit-table-head">
                <tr>
                    <th class="fromCurrencyName">
                        @Html.DisplayNameFor(model => model.FromCurrencyName)
                    </th>
                    <th class="toCurrencyName">
                        @Html.DisplayNameFor(model => model.ToCurrencyName)
                    </th>
                    <th class="amountConverted">
                        @Html.DisplayNameFor(model => model.AmountConverted)
                    </th>
                    <th class="conversionResult">
                        @Html.DisplayNameFor(model => model.ConversionResult)
                    </th>
                    <th class="dateSubmitted">
                        @Html.DisplayNameFor(model => model.DateSubmitted)
                    </th>
                </tr>
            </thead>
            <tbody class="audit-table-body">
                @foreach (var entry in Model)
                {
                    <tr>
                        <td class="fromCurrencyName">
                            @Html.DisplayFor(modelItem => entry.FromCurrencyName)
                        </td>
                        <td class="toCurrencyName">
                            @Html.DisplayFor(modelItem => entry.ToCurrencyName)
                        </td>
                        <td class="amountConverted">
                            @Html.DisplayFor(modelItem => entry.AmountConverted)
                        </td>
                        <td class="conversionResult">
                            @Html.DisplayFor(modelItem => entry.ConversionResult)
                        </td>
                        <td class="dateSubmitted">
                            @Html.DisplayFor(modelItem => entry.DateSubmitted)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>